# Copy this file to `.env` before running docker compose
# and fill with your real AWS values.

AWS_ACCESS_KEY_ID=replace_me
AWS_SECRET_ACCESS_KEY=replace_me
AWS_REGION=ap-south-1
SNS_TOPIC_ARN=arn:aws:sns:ap-south-1:478122456633:Ticketpulse
SQS_QUEUE_URL=https://sqs.ap-south-1.amazonaws.com/478122456633/myqueus
